<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Serviço</title>
    <style>
        body {
            background-color: #1a1a1a;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 90vh;
            flex-direction: column;
        }

        .h1 {
            color: #ffffff;
            font-size: 36px;
            font-family: "Inter";
            font-weight: 700;
            line-height: 42px;
            text-align: center;
        }


        table {
            width: 100%;
        }

        .label {
            color: #ffffff;
            font-size: 14px;
            font-family: "Inter";
            font-weight: 700;
            text-align: left;
        }

        .input {
            width: 100%;
            height: 39px;
            padding: 0px 8px;
            border: 0;
            box-sizing: border-box;
            border-radius: 12px;
            background-color: #333333;
            color: #c1c1c1;
            font-size: 14px;
            font-family: "Roboto";
            line-height: 19px;
            outline: none;
            margin-bottom: 10px;
        }

        .button {
            width: 100%;
            height: 46px;
            padding: 0px 8px;
            border: 0;
            box-sizing: border-box;
            border-radius: 37px;
            box-shadow: 0px 4px 20px rgba(3, 3, 3, 0.1);
            background-color: #1e90ff;
            color: #ffffff;
            font-size: 14px;
            font-family: "Inter";
            font-weight: 700;
            line-height: 16px;
            outline: none;
        }
    </style>
</head>
<body>
    <h1 class="h1">Alterar Servico</h1>
    <div class="form-container">
        <form action="/update-servico/<%= servico.id %>" method="post">
            <table>
                <tr>
                    <td><label class="label" for="nome">Nome:</label></td>
                    <td><input class="input" type="text" id="nome" name="nome" value="<%=servico.nome%>" required></td>
                </tr>
                <tr>
                    <td><label class="label" for="cpf">CPF:</label></td>
                    <td><input class="input" type="number" id="cpf" name="cpf"  value="<%=servico.cpf%>" ></td>
                </tr>
                <tr>
                    <td><label class="label" for="cnpj">CNPJ:</label></td>
                    <td><input class="input" type="number" id="cnpj" name="cnpj" value="<%=servico.cnpj%>"></td>
                </tr>
                <tr>
                    <td><label class="label" for="telefone">Telefone:</label></td>
                    <td><input class="input" type="number" id="telefone" name="telefone"  value="<%=servico.telefone%>" required></td>
                </tr>
                <tr>
                    <td><label class="label" for="endereco">Endereço:</label></td>
                    <td><input class="input" type="text" id="endereco" name="endereco"  value="<%=servico.endereco%>" required></td>
                </tr>
                <tr>
                    <td><label class="label" for="descricao_servico">Descrição do Serviço:</label></td>
                    <td><input class="input" type="text" id="descricao_servico" name="descricao_servico"  value="<%=servico.descricao_servico%>" required></td>
                </tr>
                <tr>
                    <td><label class="label" for="dataehora">Data e Hora:</label></td>
                    <td><input class="input" type="datetime-local" id="dataehora" name="dataehora" value="<%=servico.dataehora%>" required></td>
                </tr>
            </table>
            <button class="button" type="submit">Salvar Alterações</button>
            <div id="alert" style="display: none;">
                <p>Alterações salvas com Sucesso!</p>

            </div>

        </form>
        <script>
            document.addEventListener("DOMContentLoaded", function confirmaEdicao () {
                const salvaAlteracao = document.getElementById("submitButton");
                const alert = document.getElementById("alert");

                submitButton.addEventListener("click", function (event) {
                    event.preventDefault(); /// ativar o método post de envio
                    alert.style.display = "block";
                });
            });
            </script>

    </div>
</body>
</html>
